.setting-bar {
  display: flex;
  z-index: 3;
  align-items: center;
  height: $item-size;
  padding: 0 20px;
  background: $green;
  button {
    @include hover($green-lighter);
    width: 100px;
    background: $green-lighter;
    color: $white;
  }
  .left-pannel {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    height: 100vh;
    width: 360px;
    top: 0;
    left: 0;
    overflow: scroll;
    transition: transform 0.5s;
    transform: translateX(-400px);
    background: $green-darker;
    box-shadow: 1px 0	6px	2px $green-darkest;
    font-size: $item-size-xxs;
    &.show {
      transform: none;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - #{$item-size-xxxs});
      height: $item-size;
      margin-bottom: 20px;
      color: $green-lightest;
      .title {
        height: $item-size;
        font-size: $item-size-xs;
        line-height: $item-size;
      }
      .close-btn {
        height: $item-size;
        font-size: $item-size-sm;
        transition: transform, opacity 0.5s;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transform: scale(1.2);
        }
      }
    }
    .input-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 20px;
      color: $green-lightest;
      input {
        height: $item-size-sm;
      }
    }
    button {
      width: 120px;
      height: $item-size-sm;
    }
  }
}
