.data-pannel {
  .data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - #{$item-size});
    .header {
      display: flex;
      width: 100%;
      height: $item-size-sm;
      background-color: $green-dark;
      line-height: $item-size-sm;
      div {
        @include hover;
        color: $green-lightest;
        text-align: center;
      }
      .preview {
        width: 50%;
        border-right: 1px solid $green-darker;
      }
      .data {
        width: 50%;
      }
    }
    .content {
      width: 100%;
      height: 100%;
      overflow: scroll;
      color: $white;
      div {
        height: 100%;
      }
      .preview {
        display: flex;
        flex-direction: column;
        .item {
          display: flex;
          align-items: center;
          height: $item-size-xs;
          line-height: $item-size-xs;
          &:hover {
            background: $green;
          }
          &.clickable {
            cursor: pointer;
          }
          &:not(.clickable) {
            cursor: default;
          }
          &.open {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            &:hover {
              background: $green-darker;
            }
          }
          .left {
            display: flex;
            align-items: center;
            .arrow {
              width: 0;
              height: 0;
              margin-left: 4px;
              border-width: 4px;
              border-style: solid;
              border-color: transparent transparent transparent $white;
              transition: opacity 0.3s;
              &.open {
                transform: rotate(90deg);
                transform-origin: 25%;
              }
              &.hide {
                border-color: transparent;
                cursor: default;
              }
              &:hover {
                opacity: 0.8;
              }
            }
            .key {
              color: $pink;
            }
          }
          .arr,
          .obj {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          .grey {
            color: $grey;
          }
          .blue {
            color: $blue;
          }
          .red {
            color: $red-light;
          }
        }
      }
      .json {
        white-space: pre;
      }
      .copy-btn {
        position: fixed;
        top: 80px;
        left: 45vw;
        width: $item-size-md;
        height: $item-size-md;
        border-radius: 50%;
        background: $green-light;
        color: $green-lightest-max;
      }
    }
  }
}
