$green-darkest: #002329;
$green-darker: #00474f;
$green-dark: #006d75;
$green: #08979c;
$green-light: #13c2c2;
$green-lighter: #36cfc9;
$green-lightest: #b5f5ec;
$green-lightest-max: #e6fffb;
$white: #fff;
$red-light: #ff4d4f;
$grey: #8c8c8c;
$grey-light: #bfbfbf;
$blue: #1890ff;
$pink: #f759ab;

$item-size-lg: 50px;
$item-size-md: 44px;
$item-size: 36px;
$item-size-sm: 24px;
$item-size-xs: 16px;
$item-size-xxs: 14px;
$item-size-xxxs: 12px;

@import 'base';

.toast {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 0;
  left: 0;
  flex: 0;
  justify-content: center;
  align-items: center;
  .msg {
    padding: 10px;
    min-width: 50px;
    border-radius: 4px;
    background: $green-darkest;
    color: $white;
    font-size: 14px;
  }
}

.dev-pannel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $green-darker;
  .pannel-container {
    display: flex;
    height: calc(100% - #{$item-size});
    .data-pannel {
      border-right: 1px solid $green-darkest;
    }
    .data-pannel,
    .event-pannel {
      max-width: 50%;
      height: 100%;
      flex: 1;
      .title {
        height: $item-size;
        background: $green;
        color: $green-lightest;
        font-size: 16px;
        text-align: center;
        line-height: $item-size;
        cursor: default;
      }
    }
  }
}

@import "switch";
@import 'error-page';
@import 'event-pannel';
@import 'data-pannel';
@import 'setting-bar';
