$green-darkest: #002329;
$green-darker: #00474f;
$green-dark: #006d75;
$green: #08979c;
$green-light: #13c2c2;
$green-lighter: #36cfc9;
$green-lightest: #b5f5ec;
$white: #fff;
$red-light: #ff4d4f;

$item-size: 36px;
$item-size-sm: 24px;
$item-size-xs: 16px;

@import "base";

.dev-pannel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $green-darker;
  .pannel-container {
    display: flex;
    height: calc(100% - #{$item-size});
    .data-pannel {
      border-right: 1px solid $green-darkest;
    }
    .data-pannel,
    .event-pannel {
      max-width: 50%;
      height: 100%;
      flex: 1;
      .title {
        height: $item-size;
        background: $green;
        color: $green-lightest;
        font-size: 16px;
        text-align: center;
        line-height: $item-size;
        cursor: default;
      }
    }
  }
}

@import 'event-pannel';
@import 'setting-bar';
